*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* :root
{
    --bottom-value: 0;
} */

input,
button {
    padding: 10px;
    margin: 10px;
}

#stacks-container {
    border: 1px solid red;
    height: 90vh;
    display: grid;
    grid-template-rows: 50% 50%;


    /* justify-content: space-around; */
    /* align-items: center; */
}

/* 
  #push-stack{
    overflow: scroll !important;
  } */

#stacks-container>#push-stack {
    position: relative;
    width: 18%;
    margin: auto;
    height: 100%;
    margin-top:100px;
    margin-left: 300px;
   

    /* background-image: url("images.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */






}

#stacks-container #push-stack>span.pushed-content {
    /* --bottom-value: 0; */
    position: absolute;
    display: block;
    /* height: 30px; */
    width: 70%;
    padding: 5px;
    text-align: center;
    bottom: 95%;
    /* top: 0; */
    left: 10%;
    border: 1px solid #cc3434;
    border-radius: 5px;
    /* background-image: url(image.png);  */
    mix-blend-mode: difference;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: red;   
    
     
}



/* #stacks-container #push-stack > span.pushed-content
{ */
/* --bottom-value: 0; */
/* position: absolute;
    border: 1px solid maroon;
    display: block;
    width: 80%;
    padding: 5px;
    text-align: center;
    bottom: 0;
    left: 10%; */
/* transform: translateX(160%); */
/* animation: popAnimation 3s forwards;
} */

 #stacks-container >
#pop-stack {
    width:40%;
    margin: auto;
    border: 15px solid rgb(22, 27, 22);
    border-right: none;
    padding-left: none;
    

}

#stacks-container>.stack {
    border: 15px solid rgb(70, 172, 70);
    border-radius: 10px;
    border-top: none;
    height: 40%;
    border-top:  2px solid rgb(70, 172, 70);
    display: flex;

}
/* for changing color while searching */
@keyframes filterAnimation{
    0%{
        /* filter: hue-rotate(0deg); */
        background-color: red;
    }
    100%{
        /* filter: hue-rotate(270deg); */
        background-color: green;
    }

}
.filter{
    animation: filterAnimation 20s backwards;
}

@keyframes pushAnimation {
    0% {}

    100% {
        bottom: var(--bottom-value);
    }
}

@keyframes popAnimation {
    0% {
        /* bottom: var(--bottom-value-pop-start); */
        left: 0;
        width: 200%;
        transform: translate(0%, 0%) rotate(0deg);
    }

    /* 50%
    {
        bottom: 100%;
        transform: rotate(360deg) translateY(560%);
    } */
    25% {
        transform: translate(150%, 600%) rotate(-90deg);
    }

    50% {
        /* transform: rotate(180deg); */
    }

    75% {
        transform: translate(130%, 1800%) rotate(-180deg);
    }

    100% {
        /* bottom: var(--bottom-value-pop-end); */
        left: var(--bottom-value-pop-end);
        transform: translate(0%, 1800%) rotate(-270deg);
        width: 30%;
    }

}

label {
    /* display: block;
    margin: 10px; */
    padding: 20px;
}

/* .search {
    background-color: yellow;
}
.index {
    font-size: 0.8em;
    margin-left: 5px;
} */
.position {
    position: absolute;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8em;
    left: 140%;
    top: 0;
    /* transform: translateY(-50%); */
}

.position::before {
     content: "\27F6";
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    /* background-color: #ff0000;  */
    color: #1b1818;
    padding: 15px;
    border-radius: 50%;
    font-size: 3.5em;
    width:20px;

}
.highlight{
    background-image: none;
    background-color: rgb(255,0,0);
}
  
  /* .highlight .position {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #ff0000; /* match arrow color */
    


/* Add this to your CSS code */